<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538308466580-3td6avb2j40s20s7tsk92g035gn18jr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538308466580-3td6avb2j40s20s7tsk92g035gn18jr6</string>
	<key>API_KEY</key>
	<string>AIzaSyBTnMbuEgHmZkdK7yjq-UuuhH00w3jH_cs</string>
	<key>GCM_SENDER_ID</key>
	<string>538308466580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twisted.OnePost</string>
	<key>PROJECT_ID</key>
	<string>one-post-4821b</string>
	<key>STORAGE_BUCKET</key>
	<string>one-post-4821b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538308466580:ios:a7ca13793920366b</string>
	<key>DATABASE_URL</key>
	<string>https://one-post-4821b.firebaseio.com</string>
</dict>
</plist>